%% -*- mode: erlang -*-
{{$dirs := ls "/discovery/rabbitmq"}}
{{$count := len $dirs}}
[
  {rabbit,
    [
      {loopback_users, []},
      {{if gt $count 0}}{cluster_nodes, {['rabbit@{{join $dirs "','rabbit@"}}'], disc}}{{else}}{cluster_nodes, {[], disc}}{{end}}
    ]
  }
].
