[Unit]
Description=Annonce RabbitMQ node %i in cluster discovery
BindsTo=rabbitmq@%i.service
After=rabbitmq@%i.service

[Service]
User=core
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c 'while true; do /usr/bin/etcdctl set /rabbitmq/%H "${COREOS_PRIVATE_IPV4}" --ttl 60; sleep 45; done'
ExecStop=/usr/bin/etcdctl rm /rabbitmq/%H

[X-Fleet]
MachineOf=rabbitmq@%i.service
