[Unit]
Description=RabbitMQ
After=docker.service
Wants=rabbitmq-discovery@%i.service
Before=rabbitmq-discovery@%i.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull upfluence/rabbitmq:latest

ExecStart=/usr/bin/docker run --name %p-%i \
            -h %H \
            -p 5672:5672 \
            -p 4369:4369 \
            -p 15672:15672 \
            -p 15692:15692 \
            -p 25672:25672 \
	    -e ETCD_URL=http://${COREOS_PRIVATE_IPV4}:2379 \
	    -v /var/rabbitmq:/var/lib/rabbitmq/mnesia/
             upfluence/rabbitmq:latest

ExecStop=-/usr/bin/docker rm -f %p-%i

[X-Fleet]
Conflicts=rabbitmq@*
